@import "../../scss/const.scss";

.header {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
}